<!DOCTYPE html>
<html>
<head>
    <title>Edit Workout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Edit Workout</h1>
    <form method="POST" action="{{ url_for('edit_workout', workout_id=workout.id) }}">
        <div>
            <label for="exercise">Exercise:</label>
            <select name="exercise" id="exercise-select">
                {% for exercise in exercises %}
                    <option value="{{ exercise }}" {% if workout.exercise == exercise %}selected{% endif %}>{{ exercise }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="sets">Sets:</label>
            <input type="number" name="sets" value="{{ workout.sets }}" required>
        </div>
        <div>
            <label for="reps">Reps:</label>
            <input type="number" name="reps" value="{{ workout.reps }}" required>
        </div>
        <div>
            <label for="weight">Weight:</label>
            <input type="number" name="weight" value="{{ workout.weight }}" required>
        </div>
        <div>
            <label for="notes">Notes:</label>
            <textarea name="notes">{{ workout.notes }}</textarea>
        </div>
        <button type="submit">Save Changes</button>
    </form>
</body>
</html>